

<!-- ========== FOOTER ========== -->
<footer class="bg-black">
    <div class="container content-space-t-2 content-space-b-1">
      <div class="row mb-9">
        <div class="col-lg-3 mb-5 mb-lg-0">
          <a href="index.html" aria-label="Front">
            <img class="brand" src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/logos/logo.svg" alt="Logo">
          </a>
        </div>
        <div class="col-6 col-md-3 col-lg-2 mb-5 mb-md-0">
          <h5 class="text-white">Ayuda y consejo</h5>
          <ul class="list-unstyled list-py-1 mb-0">
            <li><a class="link-sm link-light" href="#">Contacta con nosotras</a></li>
            <li><a class="link-sm link-light" href="#">FAQ</a></li>
            <li><a class="link-sm link-light" href="#">Legal y Privacidad</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-3 col-lg-2 mb-5 mb-md-0">
          <h5 class="text-white">Sobre nosotros</h5>
          <ul class="list-unstyled list-py-1 mb-0">
            <li><a class="link-sm link-light" href="#">About Spec</a></li>
            <li><a class="link-sm link-light" href="#">Careers</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-5">
          <form>
            <h5 class="text-white"> Manténgase actualizado</h5>
            <div class="input-card mt-3">
              <div class="input-card-form">
                <input type="text" class="form-control" placeholder="Ingrese su correo electronico" aria-label="Ingrese su correo electronico">
              </div>
              <button type="button" class="btn btn-danger">Enviar</button>
            </div>
          </form>
          <p class="form-text text-white-70">Nuevos productos y grandes descuentos. en toda la tienda.</p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col">
          <p class="text-white-70 small mb-0">© tiendapaisa.com  Reservados todos los derechos 2024.</p>
        </div>
        <div class="col-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a class="btn btn-ghost-light btn-sm btn-icon" href="#">
                <i class="bi-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-ghost-light btn-sm btn-icon" href="#">
                <i class="bi-google"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-ghost-light btn-sm btn-icon" href="#">
                <i class="bi-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-ghost-light btn-sm btn-icon" href="#">
                <i class="bi-github"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-ghost-light btn-sm btn-icon" href="#">
                <i class="bi-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  