<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO INVENTSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->

<div class="min-height-300 bg-default position-absolute w-100"></div>
<app-menu></app-menu>
<main class="main-content position-relative border-radius-lg">
  <div class="container-fluid py-6">
    <div class="row ">
      <div class="card">
        <br>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                  <li class="breadcrumb-item text-sm"><a class="opacity-5 " href="javascript:;">InventSoft</a></li>
                  <li class="breadcrumb-item text-sm  active" aria-current="page">Compras</li>
                </ol>
              </nav>
              <div class="d-flex align-items-center">
                <p class="mb-0 h6 text-uppercase ">compras</p>
                <button
                  class="btn btn-primary text-white font-weight-bold btn-xs ms-auto"
                >
                  <i class="fas fa-pen"></i> Actualizar
                </button>
                <button
                  class="btn btn-danger text-white font-weight-bold btn-xs mx-2"
                >
                  <i class="fas fa-plus"></i> Agregar
                </button>
              </div>
            </div>
          </div>
        <div class="row mt-1">
          <div class="col-md-8">
            <div class="table-responsive">
              <p-table
              #compras
              [rows]="8"
              [value]="getCompra"
              [paginator]="true"
              [globalFilterFields]="['nombre', 'getCompra.nombre', 'representative.name', 'status']"
              [tableStyle]="{ 'min-width': '75rem' }"
              [rowHover]="true"
              dataKey="id"
              currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
            >
            <ng-template pTemplate="caption">
              <div class="flex align-items-center justify-content-between">
                <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input
                    pInputText
                    type="text"
                    class="form-control"
                    (input)="compras.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Buscar..."
                  />
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th class=" text-white text-xs bg-default"></th>
                <th class=" text-white text-xs bg-default">CATEGORIA</th>
                <th class=" text-white text-xs bg-default">PROVEEDOR</th>
                <th class=" text-white text-xs bg-default">PRECIO FACTURA</th>
                <th class=" text-white text-xs bg-default">CUANTAS POR COBRAR</th>
                <th class=" text-white text-xs bg-default">USUARIO</th>
                <th class=" text-white text-xs bg-default">FECHA LIMITE</th>
                <th class=" text-white text-xs bg-default">FECHA ACTUAL</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-getCompra>
              <tr>
                <td class="text-xs text-uppercase">  {{ getCompra.codigo_gasto }}  </td>
                <td class="text-xs text-uppercase">  {{ getCompra.categoria }}  </td>
                <td class="text-xs text-uppercase">  {{ getCompra.proveedor }}  </td>
                <td class="text-xs text-uppercase">  {{ getCompra.precio }}  </td>
                <td class="text-xs text-uppercase">  {{ getCompra.porpagar }}  </td>
                <td class="text-xs text-uppercase">  {{ getCompra.usuario }}  </td>
                <td class="text-xs text-uppercase">  {{ getCompra.fecha_limite }}  </td>
                <td class="text-xs text-uppercase">  {{ getCompra.fecha }}  </td>
              </tr>
            </ng-template>
           </p-table>
            </div>
          </div>
          <div class="col-md-4">
            <form [formGroup]="comprasForm">
            <div class="form-group">
              <label>Nombre</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="compras_nombre"
              >
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Usuario</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="compras_usuario"
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group ">
                  <label>Contraseña</label>
                  <div class="input-group">
                    <input
                      type="password"
                      class="form-control form-control-sm"
                      formControlName="compras_contrasena"
                    >
                    <!-- <button class="btn btn-primary" type="button"> <i class="fas fa-eye"></i> </button> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Telefono</label>
              <input
                type="number"
                class="form-control form-control-sm"
                formControlName="compras_telefono"
              >
            </div>
            <div class="form-group">
              <label>Rol Usuario</label>
              <select
                class="form-control form-control-sm"
                formControlName="compras_rol"
              >
                <option value="">Administrador</option>
                <option value="">Vendedor</option>
              </select>
            </div>
            <div class="form-group">
              <label>Estado</label>
              <select
                class="form-control form-control-sm"
                formControlName="compras_estado"
              >
                <option value="">Activo</option>
                <option value="">Inactivo</option>
              </select>
            </div>
          </form>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>


