<nav class="navbar navbar-expand-lg blur border-radius-lg top-0 z-index-3 shadow position-absolute mt-4 py-2 start-0 end-0 mx-4">
  <div class="container-fluid">
  <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="../pages/dashboard.html">
  InventSoft<small  style="color: yellow;">Co</small><small style="color: blue;">lom</small><small style="color: red;">bia</small>
  </a>
  <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon mt-2">
  <span class="navbar-toggler-bar bar1"></span>
  <span class="navbar-toggler-bar bar2"></span>
  <span class="navbar-toggler-bar bar3"></span>
  </span>
  </button>
  <div class="collapse navbar-collapse" id="navigation">
  <ul class="navbar-nav mx-auto">
    <li class="nav-item">
      <a class="nav-link me-2" routerLink="/usuarios">
        <i class="fa fa-cog opacity-6 text-dark me-1"></i>
        Seguridad
      </a>
    </li>
    <li class="nav-item">
    <a
      class="nav-link d-flex align-items-center me-2 active"
      routerLink="/inicio"
    >
    <i class="fa fa-home opacity-6 text-dark me-1"></i>
      Inicio
    </a>
    </li>
  <li class="nav-item">
  <a class="nav-link me-2" routerLink="/inventarios">
  <i class="fas fa-truck opacity-6 text-dark me-1"></i>
    Inventarios
  </a>
  </li>
  <li class="nav-item">
  <a class="nav-link me-2" routerLink="/venta">
  <i class="fas fa-shopping-cart opacity-6 text-dark me-1"></i>
    Ventas
  </a>
  </li>
 <li class="nav-item">
  <a class="nav-link me-2" routerLink="/compras">
  <i class="fas fa-chart-line opacity-6 text-dark me-1"></i>
    Finanzas
  </a>
</li>
<li class="nav-item">
  <a class="nav-link me-2" routerLink="/pedidos">
  <i class="fas fa-motorcycle opacity-6 text-dark me-1"></i>
    Pedidos
  </a>
</li>
<li class="nav-item">
  <a class="nav-link me-2" routerLink="/reportes">
  <i class="fas fa-chart-pie opacity-6 text-dark me-1"></i>
    Reportes
  </a>
</li>
<li class="nav-item">
  <a class="nav-link me-2" routerLink="/tienda" target="_blank">
  <i class="fas fa-shopping-cart opacity-6 text-dark me-1"></i>
    Ecommerce
  </a>
</li>
  </ul>
  <ul class="navbar-nav d-lg-block d-none">
    <li class="nav-item">
      <a class="nav-link me-2" routerLink="/">
        Cerrar Sesion
      <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
      </a>
      </li>
  </ul>
  </div>
  </div>
  </nav>
