
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO INVENTSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<p-toast position="top-right"/>
<div class="min-height-300 bg-default position-absolute w-100"></div>
<app-menu></app-menu>
<main class="main-content position-relative border-radius-lg">
  <div class="container-fluid py-6">
    <div class="row ">
      <div class="card">
        <br>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                  <li class="breadcrumb-item text-sm"><a class="opacity-5 " href="javascript:;">InventSoft</a></li>
                  <li class="breadcrumb-item text-sm  active" aria-current="page">Inventarios</li>
                </ol>
              </nav>
              <div class="d-flex align-items-center">
                <p class="mb-0 h6 text-uppercase ">inventarios</p>
                <button
                  class="btn btn-primary text-white font-weight-bold btn-xs ms-auto"
                  data-bs-toggle="modal" data-bs-target="#agregarProducto"
                >
                  <i class="fas fa-pen"></i> Agregar producto
                </button>
                <button
                  class="btn btn-dark text-white font-weight-bold btn-xs mx-2"
                  data-bs-toggle="modal" data-bs-target="#consulta"
                >
                  <i class="fas fa-plus"></i> Consulta
                </button>
                <button
                  class="btn btn-success text-white font-weight-bold btn-xs mx-2"
                  data-bs-toggle="modal" data-bs-target="#entrada"
                >
                  <i class="fas fa-plus"></i> Entrada
                </button>
                <button
                  class="btn btn-danger text-white font-weight-bold btn-xs mx-2"
                  data-bs-toggle="modal" data-bs-target="#salidamodal"
                >
                  <i class="fas fa-plus"></i> Salida
                </button>
              </div>
            </div>
          </div>
        <div class="row mt-1">
          <div class="col-md-12">
            <div class="table-responsive">
              <p-table
                  #inventario
                  [rows]="10"
                  [value]="getProducto"
                  [paginator]="true"
                  [globalFilterFields]="['nombre', 'getProducto.nombre', 'representative.name', 'status']"
                  [tableStyle]="{ 'min-width': '75rem' }"
                  [rowHover]="true"
                  dataKey="id"
                  currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
                >
                <ng-template pTemplate="caption">
                  <div class="flex align-items-center justify-content-between">
                    <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input
                        pInputText
                        type="text"
                        class="form-control"
                        (input)="inventario.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Buscar..."
                      />
                    </span>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th class=" text-white text-xs bg-default">IMAGEN</th>
                    <th class=" text-white text-xs bg-default">CODIGO</th>
                    <th class=" text-white text-xs bg-default">NOMBRE</th>
                    <th class=" text-white text-xs bg-default">CATEGORIA</th>
                    <th class=" text-white text-xs bg-default">VALOR</th>
                    <th class=" text-white text-xs bg-default">STOCK</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-getProducto>
                  <tr>
                    <td class="text-xs text-uppercase">
                      <div class="text-center">
                        <img [src]="getProducto.url_imagen" class="avatar avatar-sm avatar-circle">
                      </div>
                    </td>
                    <td class="text-xs text-uppercase">  {{ getProducto.codigo }}  </td>
                    <td class="text-xs text-uppercase">  {{ getProducto.nombre }}  </td>
                    <td class="text-xs text-uppercase">  {{ getProducto.categoria  }}  </td>
                    <td class="text-xs text-uppercase">  {{ getProducto.precio }}  </td>
                    <td class="text-xs text-uppercase">  {{ getProducto.stock }}  </td>
                  </tr>
                </ng-template>
               </p-table>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <!--MODAL DE SALIDA-->
  <div class="modal fade" id="salidamodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">SALIDA DE PRODUCTOS</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="salidaForm">
            <div class="row">
              <div class="col-md-6">
                <label >Producto *</label>
                  <select
                      class="form-control form-control-sm"
                      formControlName="producto_salida"
                      (change)="getProductStock()"
                    >
                    <option value="">SELECCIONE UNA OPCION</option>
                    <option
                      *ngFor="let producto of getProducto"
                      [value]="producto.codigo_producto "
                    > {{producto.nombre}} </option>
                  </select>
                      <div
                        class="error"
                        *ngIf="productoControl.invalid && (productoControl.touched || productoControl.dirty)"
                      >
                        <p class="text-danger text-xs font-weight-bold">
                          El campo es obligatorio
                        </p>
                      </div>
              </div>
              <div class="col-md-4">
                <label >Cantidad *</label>
                  <input
                    type="number"
                    class="form-control form-control-sm"
                    formControlName="cantidad_salida"
                  >
                    <div
                      class="error"
                      *ngIf="cantidadControl.invalid && (cantidadControl.touched || cantidadControl.dirty)"
                    >
                      <p class="text-danger text-xs font-weight-bold">
                        El campo es obligatorio
                      </p>
                    </div>
              </div>
              <div class="col-md-2">
                <label >Stock *</label>
                  <input
                    type="number"
                    class="form-control form-control-sm"
                    formControlName="stock_salida"
                  >
                    <div
                      class="error"
                      *ngIf="stockControl.invalid && (stockControl.touched || stockControl.dirty)"
                    >
                      <p class="text-danger text-xs font-weight-bold">
                        El campo es obligatorio
                      </p>
                    </div>
              </div>
            </div>
              <div class="row">
                <div class="col-md-6">
                  <label >Seccion *</label>
                  <select
                      class="form-control form-control-sm"
                      formControlName="seccion_salida">

                    <option value="">SELECCIONE UNA OPCION</option>
                    <option value="Salud madre y mujer">SEDE PRINCIPAL</option>
                  </select>
                      <div
                         class="error"
                        *ngIf="seccionControl.invalid && (seccionControl.touched || seccionControl.dirty)"
                      >
                        <p class="text-danger text-xs font-weight-bold">
                          El campo es obligatorio
                        </p>
                      </div>
                </div>
                <div class="col-md-6">
                  <label >Motivo de salida *</label>
                  <select
                      class="form-control form-control-sm"
                      formControlName="motivo_salida">

                  <option value="">SELECCIONE UNA OPCION</option>
                  <option value="Gasto interno">Salida por gasto interno</option>
                  <option value="Vencimiento">Salida por Vencimiento</option>
                  <option value="Prestamo">Salida por Prestamo</option>
                  <option value="Temporal">Salida Temporal</option>
                </select>
                    <div
                        class="error"
                        *ngIf="motivoControl.invalid && (motivoControl.touched || motivoControl.dirty)"
                    >
                      <p class="text-danger text-xs font-weight-bold">
                        El campo es obligatorio
                      </p>
                    </div>
                </div>
              </div>
              <div class="row mt-1">
                <div class="col-md-12">
                  <label>Comentarios *</label>
                    <textarea
                      class="form-control"
                      formControlName="comentarios_salida"
                    ></textarea>
                        <div
                          class="error"
                          *ngIf="comentarioControl.invalid && (comentarioControl.touched || comentarioControl.dirty)"
                        >
                          <p class="text-danger text-xs font-weight-bold">
                            El campo es obligatorio
                          </p>
                        </div>
                </div>
              </div>
               </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
          <button
            type="button"
            class="btn btn-success"
            [disabled]="salidaForm.invalid"
            (click)="salidakardex()"
          >Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal entrada -->
<div class="modal fade" id="entrada" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">ENTRADA PRODUCTO</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="entradaForm">
          <div class="row">
            <div class="col-md-6">
              <label >Producto *</label>
                <select
                  class="form-control form-control-sm"
                  formControlName="producto_entrada"
                  (change)="getProductoStock()"
                >
                  <option value="">Seleccione una opcion</option>
                  <option
                  *ngFor="let producto of getProducto"
                  [value]="producto.codigo_producto    "
                  >
                  {{ producto.nombre	}}
                  </option>>

                </select>
                    <div
                      class="error"
                      *ngIf="producto_entrada.invalid && (producto_entrada.touched || producto_entrada.dirty)"
                    >
                     <p class="text-danger text-xs font-weight-bold">
                       El campo es obligatorio
                     </p>
                  </div>
            </div>
            <div class="col-md-4">
              <label >Cantidad *</label>
                <input
                  type="number"
                  class="form-control form-control-sm"
                  formControlName="cantidad_entrada"
                >
                  <div
                    class="error"
                    *ngIf="cantidad_entrada.invalid && (cantidad_entrada.touched || cantidad_entrada.dirty)"
                  >
                    <p class="text-danger text-xs font-weight-bold">
                      El campo es obligatorio
                    </p>
                  </div>
            </div>
            <div class="col-md-2">
              <label >Stock *</label>
              <input
                type="number"
                class="form-control form-control-sm"
                formControlName="stock_entrada"
              >
                <div
                  class="error"
                  *ngIf="stock_entrada.invalid && (stock_entrada.touched || stock_entrada.dirty)"
                >
                  <p class="text-danger text-xs font-weight-bold">
                    El campo es obligatorio
                  </p>
                </div>
            </div>
          </div>
            <div class="row">
              <div class="col-md-6">
                <label >Seccion *</label>
                  <select
                    class="form-control form-control-sm"
                    formControlName="seccion_entrada">

                  <option value="">SELECCIONE UNA OPCION</option>
                  <option value="Salud madre y mujer">SEDE PRINCIPAL</option>

                  </select>
                    <div
                      class="error"
                      *ngIf="seccion_entrada.invalid && (seccion_entrada.touched || seccion_entrada.dirty)"
                    >
                     <p class="text-danger text-xs font-weight-bold">
                       El campo es obligatorio
                     </p>
                   </div>
              </div>
              <div class="col-md-6">
                <label >Motivo de ingreso *</label>
                  <select
                    class="form-control form-control-sm"
                    formControlName="motivo_entrada">

                  <option value="">SELECCIONE UNA OPCION</option>
                  <option value="Compra">Compra de Insumos</option>
                  <option value="Obsequio">Obsequio Empresarial</option>
                  <option value="Temporal">Ingreso Temporal</option>
                </select>
                    <div
                      class="error"
                      *ngIf="motivo_entrada.invalid && (motivo_entrada.touched || motivo_entrada.dirty)"
                    >
                     <p class="text-danger text-xs font-weight-bold">
                       El campo es obligatorio
                     </p>
                   </div>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col-md-12">
                <label>Comentarios *</label>
                  <textarea
                    class="form-control"
                    formControlName="comentarios_entrada"
                  ></textarea>
                    <div
                      class="error"
                      *ngIf="comentarios_entrada.invalid && (comentarios_entrada.touched || comentarios_entrada.dirty)"
                    >
                     <p class="text-danger text-xs font-weight-bold">
                       El campo es obligatorio
                     </p>
                    </div>
              </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        <button
          type="button"
          class="btn btn-success"
          [disabled]="entradaForm.invalid"
          (click)="entradaKardex()"
        >Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal agregar producto-->
<div class="modal fade" id="agregarProducto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">AGREGAR PRODUCTO</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="productoForm">
          <div class="row">
            <div class="col-md-12">
              <div class="text-center">
                <img
                  [src]="previsualizacion"
                  class="img-fluid avatar mx-3"
                  width="100px"
                >
                <!-- <img
                  src="https://cilaymar.co/wp-content/uploads/2018/06/DE-TODITO-NATURAL-600x600.jpg"
                  class="avatar avatar-xl avatar-circle"
                > -->
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-md-4">
              <label>Categoria *</label>
                <select
                  class="form-control form-control-sm text-uppercase"
                  formControlName="categoria_productos"
                >
                  <option value="">Seleccione una opcion</option>
                  <option
                    *ngFor="let categoria of getCategoria"
                    [value]="categoria.codigo_categoria"
                  >
                    {{ categoria.nombre }}
                  </option>
                </select>
                    <div
                      class="error"
                      *ngIf="categoria_productos.invalid && (categoria_productos.touched || categoria_productos.dirty)"
                    >
                     <p class="text-danger text-xs font-weight-bold">
                       El campo es obligatorio
                     </p>
                    </div>
            </div>
            <div class="col-md-5">
              <label>Nombre *</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  formControlName="nombre_productos"
                >
                  <div
                    class="error"
                    *ngIf="nombre_productos.invalid && (nombre_productos.touched || nombre_productos.dirty)"
                  >
                    <p class="text-danger text-xs font-weight-bold">
                      El campo es obligatorio
                    </p>
                  </div>
            </div>
            <div class="col-md-3">
              <label>Codigo de Barras</label>
                <input
                  type="number"
                  class="form-control form-control-sm"
                  formControlName="barras_productos"
                >
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-md-4">
              <label>Unidad Medida *</label>
                <select
                  class="form-control form-control-sm text-uppercase"
                  aria-label="Default select example"
                  formControlName="medida_productos"
                >
                  <option value="">Seleccione una opcion</option>
                  <option value="Unidades">unidades</option>
                </select>
                    <div
                      class="error"
                      *ngIf="medida_productos.invalid && (medida_productos.touched || medida_productos.dirty)"
                    >
                     <p class="text-danger text-xs font-weight-bold">
                       El campo es obligatorio
                     </p>
                    </div>
            </div>
            <div class="col-md-5">
              <label>Cantidad *</label>
                <input
                  type="number"
                  class="form-control form-control-sm"
                  formControlName="cantidad_productos"
                >
                  <div
                    class="error"
                    *ngIf="cantidad_productos.invalid && (cantidad_productos.touched || cantidad_productos.dirty)"
                  >
                    <p class="text-danger text-xs font-weight-bold">
                      El campo es obligatorio
                    </p>
                  </div>
            </div>
            <div class="col-md-3">
              <label>Stock *</label>
                <input
                  type="number"
                  class="form-control form-control-sm"
                  formControlName="stock_productos"
                >
                  <div
                    class="error"
                    *ngIf="stock_productos.invalid && (stock_productos.touched || stock_productos.dirty)"
                  >
                    <p class="text-danger text-xs font-weight-bold">
                      El campo es obligatorio
                    </p>
                  </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-md-3">
              <label>Precio por Unidad *</label>
                <input
                  type="number"
                  class="form-control form-control-sm"
                  formControlName="precio_productos"
                >
                  <div
                    class="error"
                    *ngIf="precio_productos.invalid && (precio_productos.touched || precio_productos.dirty)"
                  >
                    <p class="text-danger text-xs font-weight-bold">
                      El campo es obligatorio
                    </p>
                  </div>
            </div>
            <div class="col-md-3">
              <label>Moneda *</label>
                <select
                  class="form-control form-control-sm text-uppercase"
                  aria-label="Default select example"
                  formControlName="moneda_productos"
                >
                  <option value="PEN">Pesos (col) *</option>
                </select>
                    <div
                      class="error"
                      *ngIf="moneda_productos.invalid && (moneda_productos.touched || moneda_productos.dirty)"
                   >
                     <p class="text-danger text-xs font-weight-bold">
                       El campo es obligatorio
                     </p>
                    </div>
            </div>
            <div class="col-md-3">
              <label>Costo proveedor *</label>
                <input
                  type="number"
                  class="form-control form-control-sm"
                  formControlName="costo_productos"
                >
                    <div
                      class="error"
                      *ngIf="costo_productos.invalid && (costo_productos.touched || costo_productos.dirty)"
                   >
                     <p class="text-danger text-xs font-weight-bold">
                       El campo es obligatorio
                     </p>
                    </div>
            </div>
            <div class="col-md-3">
              <label>Producto Ecommerce</label>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckChecked"
                  checked
                  formControlName="ecommerce_productos"
                >
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-md-12">
              <label>Imagen</label>
                <input
                  type="file"
                  class="form-control form-control-sm"
                  formControlName="imagen_productos"
                  (change)="capturareImagen($event)"
                >
                <div
                      class="error"
                      *ngIf="imagen_productos.invalid && (imagen_productos.touched || imagen_productos.dirty)"
                   >
                     <p class="text-danger text-xs font-weight-bold">
                       El campo es obligatorio
                     </p>
                    </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-md-12">
              <label>Descripción</label>
                <textarea
                  class="form-control"
                  formControlName="descripcion_productos"
                ></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        <button
          type="button"
          class="btn btn-success"
          [disabled]="productoForm.invalid"
          (click)="postAgregarProductos()"
        >Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal CONSULTA -->
<div class="modal fade" id="consulta" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">CONSULTA PRODUCTO</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>
        <button type="button" class="btn btn-success">GUARDAR</button>
      </div>
    </div>
  </div>
</div>
