<div  style="background-color: black;">

    <app-menutienda></app-menutienda>
    <div class="carousel">
        <div class="list">
            <div class="item">
                <img src="http://192.168.1.8/ANGULAR/SiteWeb/tiendapaisa/public/img/img1.png">
                <div class="introduce">
                    <div class="title " style="color: white !important;">Accesorios</div>
                    <div class="topic text-capitalize" style="color: white !important;" style="color: white !important;">
                      Audifonos iphone
                    </div>
                    <div class="des" style="color: white !important;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, laborum cumque dignissimos quidem atque et eligendi aperiam voluptates beatae maxime.
                    </div>
                    <button class="btn btn-outline-danger btn-xs mt-3 seeMore">VER MAS &#8599;</button>
                </div>
    
                <div class="detail">
                    <div class="title mt-5" style="color: white !important;">Aerphone GHTK</div>
                    <div class="des" style="color: white !important;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, reiciendis suscipit nobis nulla
                        animi, modi explicabo quod corrupti impedit illo, accusantium in eaque nam quia adipisci aut distinctio
                        porro eligendi. Reprehenderit nostrum consequuntur ea! Accusamus architecto dolores modi ducimus facilis
                        quas voluptatibus! Tempora ratione accusantium magnam nulla tenetur autem beatae.
                    </div>
                    <div class="specifications">
                        <div>
                            <p>Tiempo usado</p>
                            <p>6 horas</p>
                        </div>
                        <div>
                            <p>Puerto de carga</p>
                            <p>Tipo-C</p>
                        </div>
                        <div>
                            <p>Compatible</p>
                            <p>Android</p>
                        </div>
                        <div>
                            <p>Bluetooth</p>
                            <p>5.3</p>
                        </div>
                        <div>
                            <p>Controlled</p>
                            <p>Touch</p>
                        </div>
                    </div>
                    <div class=" mt-4">
                        <button class="btn btn-outline-danger">AGREGAR AL CARRITO</button>
                        <button class="btn btn-primary">VOLVER</button>
                    </div>
                </div>
            </div>
    
            <div class="item">
                <img src="http://192.168.1.8/ANGULAR/SiteWeb/tiendapaisa/public/img/img2.png">
                <div class="introduce">
                    <div class="title" style="color: white !important;">DESIGN SLIDER</div>
                    <div class="topic" style="color: white !important;">Aerphone</div>
                    <div class="des" style="color: white !important;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, laborum cumque dignissimos quidem atque et eligendi aperiam voluptates beatae maxime.
                    </div>
                    <button class="seeMore btn btn-outline-danger btn-xs mt-3">VER MAS &#8599;</button>
                </div>
                <div class="detail">
                    <div class="title" style="color: white !important;">Aerphone GHTK</div>
                    <div class="des" style="color: white !important;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, reiciendis suscipit nobis nulla animi, modi explicabo quod corrupti impedit illo, accusantium in eaque nam quia adipisci aut distinctio porro eligendi. Reprehenderit nostrum consequuntur ea! Accusamus architecto dolores modi ducimus facilis quas voluptatibus! Tempora ratione accusantium magnam nulla tenetur autem beatae.
                    </div>
                    <div class="specifications">
                        <div>
                            <p>Used Time</p>
                            <p>6 hours</p>
                        </div>
                        <div>
                            <p>Charging port</p>
                            <p>Type-C</p>
                        </div>
                        <div>
                            <p>Compatible</p>
                            <p>Android</p>
                        </div>
                        <div>
                            <p>Bluetooth</p>
                            <p>5.3</p>
                        </div>
                        <div>
                            <p>Controlled</p>
                            <p>Touch</p>
                        </div>
                    </div>
                    <div class="checkout">
                        <button>ADD TO CART</button>
                        <button>CHECKOUT</button>
                    </div>
                </div>
            </div>
    
            <div class="item">
                <img src="http://192.168.1.8/ANGULAR/SiteWeb/tiendapaisa/public/img/img3.png">
                <div class="introduce">
                    <div class="title" style="color: white !important;">DESIGN SLIDER</div>
                    <div class="topic" style="color: white !important;">Aerphone</div>
                    <div class="des" style="color: white !important;">
                        <!-- 20 lorem -->
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, laborum cumque dignissimos quidem atque et eligendi aperiam voluptates beatae maxime.
                    </div>
                    <button class="seeMore btn btn-outline-danger btn-xs mt-3">VER MAS &#8599;</button>
                </div>
                <div class="detail">
                    <div class="title" style="color: white !important;">Aerphone GHTK</div>
                    <div class="des" style="color: white !important;">
                        <!-- lorem 50 -->
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, reiciendis suscipit nobis nulla animi, modi explicabo quod corrupti impedit illo, accusantium in eaque nam quia adipisci aut distinctio porro eligendi. Reprehenderit nostrum consequuntur ea! Accusamus architecto dolores modi ducimus facilis quas voluptatibus! Tempora ratione accusantium magnam nulla tenetur autem beatae.
                    </div>
                    <div class="specifications">
                        <div>
                            <p>Used Time</p>
                            <p>6 hours</p>
                        </div>
                        <div>
                            <p>Charging port</p>
                            <p>Type-C</p>
                        </div>
                        <div>
                            <p>Compatible</p>
                            <p>Android</p>
                        </div>
                        <div>
                            <p>Bluetooth</p>
                            <p>5.3</p>
                        </div>
                        <div>
                            <p>Controlled</p>
                            <p>Touch</p>
                        </div>
                    </div>
                    <div class="checkout">
                        <button>ADD TO CART</button>
                        <button>CHECKOUT</button>
                    </div>
                </div>
            </div>
    
            <div class="item">
                <img src="http://192.168.1.8/ANGULAR/SiteWeb/tiendapaisa/public/img/img4.png">
                <div class="introduce">
                    <div class="title" style="color: white !important;">DESIGN SLIDER</div>
                    <div class="topic" style="color: white !important;">Aerphone</div>
                    <div class="des" style="color: white !important;">
                        <!-- 20 lorem -->
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, laborum cumque dignissimos quidem atque et eligendi aperiam voluptates beatae maxime.
                    </div>
                    <button class="seeMore btn btn-outline-danger btn-xs mt-3">VER MAS &#8599;</button>
                </div>
                <div class="detail">
                    <div class="title" style="color: white !important;">Aerphone GHTK</div>
                    <div class="des" style="color: white !important;">
                        <!-- lorem 50 -->
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, reiciendis suscipit nobis nulla animi, modi explicabo quod corrupti impedit illo, accusantium in eaque nam quia adipisci aut distinctio porro eligendi. Reprehenderit nostrum consequuntur ea! Accusamus architecto dolores modi ducimus facilis quas voluptatibus! Tempora ratione accusantium magnam nulla tenetur autem beatae.
                    </div>
                    <div class="specifications">
                        <div>
                            <p>Used Time</p>
                            <p>6 hours</p>
                        </div>
                        <div>
                            <p>Charging port</p>
                            <p>Type-C</p>
                        </div>
                        <div>
                            <p>Compatible</p>
                            <p>Android</p>
                        </div>
                        <div>
                            <p>Bluetooth</p>
                            <p>5.3</p>
                        </div>
                        <div>
                            <p>Controlled</p>
                            <p>Touch</p>
                        </div>
                    </div>
                    <div class="checkout">
                        <button>ADD TO CART</button>
                        <button>CHECKOUT</button>
                    </div>
                </div>
            </div>
    
            <div class="item">
                <img src="http://192.168.1.8/ANGULAR/SiteWeb/tiendapaisa/public/img/img5.png">
                <div class="introduce">
                    <div class="title" style="color: white !important;">DESIGN SLIDER</div>
                    <div class="topic" style="color: white !important;">Aerphone</div>
                    <div class="des" style="color: white !important;">
                        <!-- 20 lorem -->
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, laborum cumque dignissimos quidem atque et eligendi aperiam voluptates beatae maxime.
                    </div>
                    <button class="seeMore btn btn-outline-danger btn-xs mt-3">VER MAS &#8599;</button>
                </div>
                <div class="detail">
                    <div class="title" style="color: white !important;">Aerphone GHTK</div>
                    <div class="des" style="color: white !important;">
                        <!-- lorem 50 -->
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, reiciendis suscipit nobis nulla animi, modi explicabo quod corrupti impedit illo, accusantium in eaque nam quia adipisci aut distinctio porro eligendi. Reprehenderit nostrum consequuntur ea! Accusamus architecto dolores modi ducimus facilis quas voluptatibus! Tempora ratione accusantium magnam nulla tenetur autem beatae.
                    </div>
                    <div class="specifications">
                        <div>
                            <p>Used Time</p>
                            <p>6 hours</p>
                        </div>
                        <div>
                            <p>Charging port</p>
                            <p>Type-C</p>
                        </div>
                        <div>
                            <p>Compatible</p>
                            <p>Android</p>
                        </div>
                        <div>
                            <p>Bluetooth</p>
                            <p>5.3</p>
                        </div>
                        <div>
                            <p>Controlled</p>
                            <p>Touch</p>
                        </div>
                    </div>
                    <div class="checkout">
                        <button>ADD TO CART</button>
                        <button>CHECKOUT</button>
                    </div>
                </div>
            </div>
    
            <div class="item">
                <img src="http://192.168.1.8/ANGULAR/SiteWeb/tiendapaisa/public/img/img6.png">
                <div class="introduce">
                    <div class="title" style="color: white !important;">DESIGN SLIDER</div>
                    <div class="topic" style="color: white !important;">Aerphone</div>
                    <div class="des" style="color: white !important;">
                        <!-- 20 lorem -->
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, laborum cumque dignissimos quidem atque et eligendi aperiam voluptates beatae maxime.
                    </div>
                    <button class="seeMore btn btn-outline-danger btn-xs mt-3">VER MAS &#8599;</button>
                </div>
                <div class="detail">
                    <div class="title" style="color: white !important;">Aerphone GHTK</div>
                    <div class="des" style="color: white !important;">
                        <!-- lorem 50 -->
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, reiciendis suscipit nobis nulla animi, modi explicabo quod corrupti impedit illo, accusantium in eaque nam quia adipisci aut distinctio porro eligendi. Reprehenderit nostrum consequuntur ea! Accusamus architecto dolores modi ducimus facilis quas voluptatibus! Tempora ratione accusantium magnam nulla tenetur autem beatae.
                    </div>
                    <div class="specifications">
                        <div>
                            <p>Used Time</p>
                            <p>6 hours</p>
                        </div>
                        <div>
                            <p>Charging port</p>
                            <p>Type-C</p>
                        </div>
                        <div>
                            <p>Compatible</p>
                            <p>Android</p>
                        </div>
                        <div>
                            <p>Bluetooth</p>
                            <p>5.3</p>
                        </div>
                        <div>
                            <p>Controlled</p>
                            <p>Touch</p>
                        </div>
                    </div>
                    <div class="checkout">
                        <button>ADD TO CART</button>
                        <button>CHECKOUT</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="arrows">
            <button id="prev"><i class="fas fa-angle-left"></i></button>
            <button id="next"><i class="fas fa-angle-right"></i></button>
        </div>
    </div>
    <!--  -->
    <div class="container content-space-2">
        <div class="row">
          <div class="col-md-4 mb-7 mb-md-0">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="avatar avatar-4x3" src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/illustrations/oc-protected-card.svg" alt="Image Description">
              </div>
              <div class="flex-grow-1 ms-4">
                <h4 class="mb-1 text-white">Pago Seguro</h4>
                <p class="small mb-0 text-white">
                  Pago seguro garantizado.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-7 mb-md-0">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="avatar avatar-4x3" src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/illustrations/oc-truck.svg" alt="Image Description">
              </div>
              <div class="flex-grow-1 ms-4">
                <h4 class="mb-1 text-white">Envios a nivel nacional</h4>
                <p class="small mb-0 text-white">
                  Reciba automáticamente envío gratuito.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="avatar avatar-4x3" src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/illustrations/oc-return.svg" alt="Image Description">
              </div>
              <div class="flex-grow-1 ms-4">
                <h4 class="mb-1 text-white">30 días de devolución</h4>
                <p class="small mb-0 text-white">
                  Le ofrecemos un reembolso completo.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!--  -->
    <div class="container">
        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
          <h5 class="text-white">Categorias</h5>
          <h2 class="text-white">La mejor manera de comprar con los mejores productos de tienda paisa</h2>
        </div>
        <div class="row mb-2">
          <div class="col-sm-6 col-md-3 mb-4">
            <div class="card card-bordered shadow-none overflow-hidden">
              <div class="card-body d-flex align-items-center border-bottom p-0">
                <div class="w-65 border-end">
                  <img class="img-fluid" src="https://gallerypng.com/wp-content/uploads/2024/08/apple-pink-iphone-png-photo.png" alt="Image Description">
                </div>
                <div class="w-35">
                  <div class="border-bottom">
                    <img class="img-fluid" src="https://atlas-content-cdn.pixelsquid.com/stock-images/iphone-15-pink-smartphone-camera-vnxB1W1-600.jpg" alt="Image Description">
                  </div>
                  <img class="img-fluid" src="https://www.crn.com/news/computing/2024/media_145a1beeba0b6019cb2e29bb048f71cc31923a43e.png?width=750&format=png&optimize=medium" alt="Image Description">
                </div>
              </div>
              <div class="card-footer text-center">
                <h3 class="card-title">Telefonos</h3>
                <p class="card-text text-muted small">
                  Desde $29.99
                </p>
                <a
                  class="btn btn-outline-primary btn-sm btn-transition rounded-pill px-6"
                  href="#">
                  Ver mas
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <p class="small">Sólo por tiempo limitado, hasta agotar existencias.</p>
        </div>
      </div>
      <br>
      <br>
      <!--  -->
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-4 mb-md-0">
            <div class="card card-lg bg-img-start" style="background-image: url(https://www.apple.com/newsroom/videos/videos-2024/autoplay/2024/09/apple-iphone-16-pro-light-and-durable-upgraded-design/posters/Apple-iPhone-16-Pro-light-and-durable-upgraded-design-240909.jpg.large_2x.jpg); min-height: 30rem;">
              <div class="card-body">
                <span class="card-subtitle text-danger">Sólo por tiempo limitado</span>
                <h2 class="card-title display-4 text-white">70% OFF</h2>
                <div class="w-md-65">
                  <div class="js-countdown row mb-5">
                    <div class="col-4 text-center">
                      <div class="border border-dark rounded-2 p-2 mb-1">
                        <span class="js-cd-days h2 text-white">20</span>
                      </div>
                      <h5 class="card-title text-white">Dias</h5>
                    </div>
                    <div class="col-4 text-center">
                      <div class="border border-dark rounded-2 p-2 mb-1">
                        <span class="js-cd-hours h2 text-white">12</span>
                      </div>
                      <h5 class="card-title text-white">Horas</h5>
                    </div>
                    <div class="col-4 text-center">
                      <div class="border border-dark rounded-2 p-2 mb-1">
                        <span class="js-cd-minutes h2 text-white">59</span>
                      </div>
                      <h5 class="card-title text-white">Min</h5>
                    </div>
                    <div class="col-4 d-none text-center">
                      <div class="border border-dark rounded-2 p-2 mb-1">
                        <span class="js-cd-seconds h2 text-white">90</span>
                      </div>
                      <h5 class="card-title text-white">Seg</h5>
                    </div>
                  </div>
                </div>
                <a class="btn btn-light btn-sm btn-transition rounded-pill px-6" href="#">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-lg bg-img-start" style="background-image: url(https://mir-s3-cdn-cf.behance.net/projects/404/b00b14198383123.Y3JvcCwxMzQ4LDEwNTQsMzE3LDEz.png); min-height: 30rem;">
              <div class="card-body">
                <div class="mb-4">
                  <h2 class="card-title text-white">$109.99</h2>
                  <h3 class="card-title text-white">Nakto 26 Bicycle</h3>
                  <p class="card-text text-white">NAKTO bicycles to save the environment and bring fun to our friends!</p>
                </div>
                <a class="btn btn-light btn-sm btn-transition rounded-pill px-6" href="#">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!--  -->
      <br>
      <br>
      <br>
      <br>
      <div class="container">
        <div class="row">
          <!--  -->
          <div class="col-md-3 mb-4">
            <div class="card card-bordered shadow-none text-center h-100">
              <div class="card-pinned">
                <img
                  class="card-img-top mt-5"
                  src="http://192.168.1.8/ANGULAR/SiteWeb/tiendapaisa/public/img/img1.png"
                  width="130px;"
                >
                <div class="codigo_producto" hidden>123456</div>
                  <div class="card-pinned-top-start">
                    <span class="badge bg-dark rounded-pill">Recién llegado</span>
                  </div>
                  <div class="card-pinned-top-end">
                    <button type="button" class="btn btn-outline-danger btn-xs btn-icon rounded-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Save for later">
                      <i class="fas fa-heart"></i>
                    </button>
                  </div>
              </div>
              <div class="card-body">
                <div class="mb-1">
                  <a class="link-sm link-secondary text-black" href="#">telefonos</a>
                </div>
                  <a class="text-body text-black" href="#">
                    Nombre
                  </a>
                  <p class="card-text text-dark"><strong>$10000</strong></p>
              </div>
              <div class="card-footer pt-0">
                <button
                  type="button"
                  class="btn btn-outline-danger btn-sm rounded-pill btn_agregar_carrito"
                  id="btn_agregar_carrito"
                >
                  Agregar al carrito
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container content-space-2">
        <div class="row">
          <div class="col text-center py-3">
            <img
              class="avatar avatar-lg avatar-4x1"
              src="https://static.vecteezy.com/system/resources/thumbnails/020/489/292/small/3d-logo-of-apple-iphone-free-png.png"
              width="50px;"
            >
          </div>
          <div class="col text-center py-3">
            <img
              class="avatar avatar-lg avatar-4x1"
              src="https://static.vecteezy.com/system/resources/thumbnails/020/489/292/small/3d-logo-of-apple-iphone-free-png.png"
            >
          </div>
          <div class="col text-center py-3">
            <img
              class="avatar avatar-lg avatar-4x1"
              src="https://static.vecteezy.com/system/resources/thumbnails/020/489/292/small/3d-logo-of-apple-iphone-free-png.png"
            >
          </div>
          <div class="col text-center py-3">
            <img
            class="avatar avatar-lg avatar-4x1"
            src="https://static.vecteezy.com/system/resources/thumbnails/020/489/292/small/3d-logo-of-apple-iphone-free-png.png"
            >
          </div>
          <div class="col text-center py-3">
            <img
              class="avatar avatar-lg avatar-4x1"
              src="https://static.vecteezy.com/system/resources/thumbnails/020/489/292/small/3d-logo-of-apple-iphone-free-png.png"
            >
          </div>
          <div class="col text-center py-3">
            <img
              class="avatar avatar-lg avatar-4x1"
              src="https://static.vecteezy.com/system/resources/thumbnails/020/489/292/small/3d-logo-of-apple-iphone-free-png.png"
            >
          </div>
        </div>
      </div>
      <!--  -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="js-swiper-gallery-2 swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide bg-img-center content-space-2 content-space-md-7" style="background-image: url(https://htmlstream.com/preview/front-v4.2/html/assets/img/1920x1080/img10.jpg); background-color:black; opacity: 40%; z-index: -1 !important;">
                  <div class="container">
                    <div class="w-lg-40 text-center mx-lg-auto">
                      <div class="mb-5">
                        <h4 class="text-white mb-3" style="z-index:10000000000 !important;">Gran Oferta del Mes</h4>
                        <p class="text-white h2">
                            Iphone 15 || 16 Pro Max  
                        </p>
                      </div>
                     </div>
                  </div>
                </div>
              </div>
              <div class="js-swiper-gallery-2-pagination swiper-pagination swiper-pagination-light position-absolute bottom-0 start-0 end-0 mb-5">
              </div>
            </div>
          </div>
        </div>
    </div>
    <!--  -->
    <div class="container content-space-2 content-space-lg-3">
    <div class="w-lg-50 mb-5 mb-md-9">
      <h2 class="text-white">Nuestros clientes nos eligen por calidad.</h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex gap-1 mb-2">
              <img src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
              <img src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
              <img src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
              <img src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
              <img src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
            </div>
            <div class="mb-auto">
              <p class="card-text">With Front Pay, you can check out across the web and in apps without having to enter any payment information.</p>
            </div>
          </div>
          <div class="card-footer pt-0">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <img class="avatar avatar-circle" src="https://htmlstream.com/preview/front-v4.2/html/assets/img/160x160/img8.jpg" alt="Image Description">
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="card-title mb-0">Christina Kray</h5>
                <p class="card-text small">Business Manager</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex gap-1 mb-2">
              <img src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
              <img src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
              <img src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
              <img src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
              <img src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/illustrations/star-half.svg" alt="Review rating" width="16">
            </div>
            <div class="mb-auto">
              <p class="card-text">From boarding passes to transit and movie tickets, there's pretty much nothing you can't store with Front Pay.</p>
            </div>
          </div>
          <div class="card-footer pt-0">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <img class="avatar avatar-circle" src="https://htmlstream.com/preview/front-v4.2/html/assets/img/160x160/img9.jpg" alt="Image Description">
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="card-title mb-0">Andrea Gardy</h5>
                <p class="card-text small">CEO at Slack</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex gap-1 mb-2">
              <img src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
              <img src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
              <img src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
              <img src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
              <img src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/illustrations/star.svg" alt="Review rating" width="16">
            </div>
            <div class="mb-auto">
              <p class="card-text">I love Front Pay for cash back, reward points and fraud protection – just like when you're swiping your card.</p>
            </div>
          </div>
    
          <div class="card-footer pt-0">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <img class="avatar avatar-circle" src="https://htmlstream.com/preview/front-v4.2/html/assets/img/160x160/img3.jpg" alt="Image Description">
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="card-title mb-0">Philip Williams</h5>
                <p class="card-text small">Front Pay user</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <app-footer></app-footer>
</div>