<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO INVENTSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<div  [hidden]="spinner" class="overlay z-index">
  <div class="dot-wave">
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
  </div>
</div>
<p-toast position="top-right"/>
<div class="min-height-300 bg-default position-absolute w-100"></div>
<app-menu></app-menu>
<main class="main-content position-relative border-radius-lg">
  <div class="container-fluid py-6">
    <div class="row ">
      <div class="card">
        <br>
        <br>
        <br>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                  <li class="breadcrumb-item text-sm"><a class="opacity-5 " href="javascript:;">InventSoft</a></li>
                  <li class="breadcrumb-item text-sm  active" aria-current="page">Usuarios</li>
                </ol>
              </nav>
              <div class="d-flex align-items-center">
                <button
                  class="btn btn-primary text-white font-weight-bold btn-xs ms-auto"
                  (click)="CrearUpdateUsuarios()"
                  [disabled]="usuariosForm.invalid"
                >
                  <i class="fas fa-save"></i> Aceptar
                </button>
              </div>
            </div>
          </div>
        <div class="row mt-1">
          <div class="col-md-8">
            <div class="table-responsive">
              <p-table
                  #usuarios
                  [rows]="8"
                  [value]="getUsuario"
                  [paginator]="true"
                  [globalFilterFields]="['nombre', 'getUsuario.nombre', 'representative.name', 'status']"
                  [tableStyle]="{ 'min-width': '65rem' }"
                  [rowHover]="true"
                  dataKey="id"
                  currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
                >
                <ng-template pTemplate="caption">
                  <div class="flex align-items-center justify-content-between">
                    <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input
                        pInputText
                        type="text"
                        class="form-control"
                        (input)="usuarios.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Buscar..."
                      />
                    </span>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th class=" text-white text-xs bg-default"></th>
                    <th class=" text-white text-xs bg-default">NOMBRE Y APELLIDOS</th>
                    <th class=" text-white text-xs bg-default">USUARIO</th>
                    <th class=" text-white text-xs bg-default">CORREO</th>
                    <th class=" text-white text-xs bg-default">TELEFONO</th>
                    <th class=" text-white text-xs bg-default">ESTADO</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-getUsuario>
                  <tr>
                    <td>
                      <a
                        class="badge bg-success"
                        title="Actualizar Usuarios"
                        (click)="pasarDatosInput(getUsuario)"
                      >
                        <i class="fas fa-pen fa-xs text-white"></i>
                      </a>
                    </td>
                    <td >
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img
                            src="https://radiarte.com/application/files/6917/0923/2244/depositphotos_134255588-stock-illustration-empty-photo-of-male-profile.jpg"
                            class="avatar avatar-sm me-3"
                          >
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <p class="mb-0 text-xs text-uppercase"> {{ getUsuario.nombre + ' ' + getUsuario.apellido }}</p>
                          <p class="text-xs text-success mb-0 text-uppercase">{{ getUsuario.rol_usuario }}</p>
                        </div>
                      </div>
                    </td>
                    <td class="text-xs text-uppercase text-danger">  {{ getUsuario.usuario }}  </td>
                    <td class="text-xs">  {{ getUsuario.email }}  </td>
                    <td class="text-xs text-uppercase">  {{ getUsuario.telefono  }}  </td>
                    <td class="text-xs text-uppercase badge badge-success mt-4 badge-xs">  {{ getUsuario.estado }}  </td>
                  </tr>
                </ng-template>
               </p-table>
            </div>
          </div>
            <div class="col-md-4">
              <form [formGroup]="usuariosForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Nombre</label>
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        formControlName="usuario_nombre"
                      >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label>Apellido</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="usuario_apellido"
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Usuario</label>
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        formControlName="usuario_user"
                      >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group ">
                      <label>Contraseña</label>
                      <div class="input-group">
                        <input
                          type="password"
                          class="form-control form-control-sm"
                          formControlName="usuario_contraseña"
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label>Correo</label>
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        formControlName="usuario_correo"
                      >
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Telefono</label>
                      <input
                        type="number"
                        class="form-control form-control-sm"
                        formControlName="usuario_telefono"
                      >
                    </div>
                  </div>
                </div>
                <div class="row" hidden="true">
                  <div class="col-md-12">
                    <label>Empresa</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="usuario_empresa"
                    >
                  </div>
                </div>
                <div class="row ">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Rol Usuario</label>
                      <select
                        class="form-control form-control-sm"
                        formControlName="usuario_rol"
                      >
                        <option value="Administrador">Administrador</option>
                        <option value="Vendedor">Vendedor</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Estado</label>
                      <select
                        class="form-control form-control-sm"
                        formControlName="usuario_estado"
                      >
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                      </select>
                    </div>
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>


