<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO INVENTSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->

<div class="min-height-300 bg-default position-absolute w-100"></div>
<app-menu></app-menu>
<main class="main-content position-relative border-radius-lg">
  <div class="container-fluid py-6">
    <div class="row ">
      <div class="card">
        <br>
        <br>
        <br>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                  <li class="breadcrumb-item text-sm"><a class="opacity-5 " href="javascript:;">InventSoft</a></li>
                  <li class="breadcrumb-item text-sm  active" aria-current="page">Usuarios</li>
                </ol>
              </nav>
              <div class="d-flex align-items-center">
                <button
                  class="btn btn-primary text-white font-weight-bold btn-xs ms-auto"
                >
                  <i class="fas fa-pen"></i> Actualizar
                </button>
                <button
                  class="btn btn-danger text-white font-weight-bold btn-xs mx-2"
                >
                  <i class="fas fa-plus"></i> Agregar
                </button>
              </div>
            </div>
          </div>
        <div class="row mt-1">
          <div class="col-md-8">
            <div class="table-responsive">
              <p-table
                  #usuarios
                  [rows]="8"
                  [value]="getUsuario"
                  [paginator]="true"
                  [globalFilterFields]="['nombre', 'getUsuario.nombre', 'representative.name', 'status']"
                  [tableStyle]="{ 'min-width': '65rem' }"
                  [rowHover]="true"
                  dataKey="id"
                  currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
                >
                <ng-template pTemplate="caption">
                  <div class="flex align-items-center justify-content-between">
                    <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input
                        pInputText
                        type="text"
                        class="form-control"
                        (input)="usuarios.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Buscar..."
                      />
                    </span>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th class=" text-white text-xs bg-default"></th>
                    <th class=" text-white text-xs bg-default">NOMBRE</th>
                    <th class=" text-white text-xs bg-default">APELLIDO</th>
                    <th class=" text-white text-xs bg-default">USUARIO</th>
                    <th class=" text-white text-xs bg-default">TELEFONO</th>
                    <th class=" text-white text-xs bg-default">ROL USUARI0</th>
                    <th class=" text-white text-xs bg-default">ESTADO</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-getUsuario>
                  <tr>
                    <td class="text-xs text-uppercase">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="flexRadioDefault"
                          id="flexRadioDefault1"
                        >
                      </div>
                    </td>
                    <td class="text-xs text-uppercase">  {{ getUsuario.nombre }}  </td>
                    <td class="text-xs text-uppercase">  {{ getUsuario.apellido }}  </td>
                    <td class="text-xs text-uppercase text-danger">  {{ getUsuario.usuario }}  </td>
                    <td class="text-xs text-uppercase">  {{ getUsuario.telefono  }}  </td>
                    <td class="text-xs text-uppercase">  {{ getUsuario.rol_usuario }}  </td>
                    <td class="text-xs text-uppercase">  {{ getUsuario.estado }}  </td>
                  </tr>
                </ng-template>
               </p-table>
            </div>
          </div>
            <div class="col-md-4">
              <form [formGroup]="usuariosForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Nombre</label>
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        formControlName="usuario_nombre"
                      >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label>Apellido</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="usuario_apellido"
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Usuario</label>
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        formControlName="usuario_user"
                      >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group ">
                      <label>Contraseña</label>
                      <div class="input-group">
                        <input
                          type="password"
                          class="form-control form-control-sm"
                          formControlName="usuario_contraseña"
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Correo</label>
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        formControlName="usuario_correo"
                      >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Telefono</label>
                      <input
                        type="number"
                        class="form-control form-control-sm"
                        formControlName="usuario_telefono"
                      >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label>Empresa</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="usuario_empresa"
                    >
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Rol Usuario</label>
                      <select
                        class="form-control form-control-sm"
                        formControlName="usuario_rol"
                      >
                        <option value="Administrador">Administrador</option>
                        <option value="Vendedor">Vendedor</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Estado</label>
                      <select
                        class="form-control form-control-sm"
                        formControlName="usuario_estado"
                      >
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                      </select>
                    </div>
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>


